
<ion-content class="ion-padding">
	<p class="otp_title">Enter the OTP your received</p>
	<div class="otp_wrapper">
	    <ion-input type="text" class="x" required="true" maxLength="1" value="5"></ion-input>

	    <ion-input type="text" class="x" required="true" maxLength="1" value="2"></ion-input>

	    <ion-input type="text" class="x" required="true" maxLength="1" value="8"></ion-input>

	    <ion-input type="text" class="x" required="true" maxLength="1" value="8"></ion-input>

	    <ion-input type="text" class="x" required="true" maxLength="1" value="0"></ion-input>

	    <ion-input type="text" class="x"  required="true" maxLength="1" value="4"></ion-input>
	</div>
	<p class="otp_content">We will never share your number or spam you!</p>
	<ion-button class="btn-continue" shape="round" routerLink="/main" routerDirection="forward">Submit</ion-button>
	<p class="sign_in">Didn’t receive the OTP? <span routerLink="/login" routerDirection="forward">Send Again</span></p>
</ion-content>
