<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>SELECTED LOCATION</ion-title> -->
    <ion-label>SELECTED LOCATION</ion-label>
    <ion-item>
    <ion-select value="kolkata">
      <ion-select-option selected value="kolkata">kolkata</ion-select-option>
      <ion-select-option value="mumbai">mumbai</ion-select-option>
      <ion-select-option value="bangalore">bangalore</ion-select-option>
      <ion-select-option value="delhi">delhi</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-icon slot="end" class="search_item" name="search-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="banner_wraper"><img src="assets/banner-home.png"></div>
  <div class="segment_2">
    <div>
        <ion-segment class="ion-no-padding" >
          <ion-segment-button *ngFor="let categoryMain of liquorMainCategory;">
            <ion-button shape="round" (click)="getCategoryItem(categoryMain.id)">{{categoryMain.categoryName}}</ion-button>
          </ion-segment-button>
        </ion-segment>
    </div>

    <div>
      <ion-list class="liquor_items">
        <ion-item *ngFor="let categoryItem of categoryItems;">
          <ion-thumbnail slot="start">
            <img src="{{categoryItem.image}}">
          </ion-thumbnail>
          <div class="drink_content">
            <h3>{{categoryItem.liquorName}}</h3>
            <div class="unit_category">
              <ul>
                <li>
                  <input type="radio" value="0" id="name0{{categoryItem.id}}" name="name{{categoryItem.id}}" (click)="radioButtonSelect(categoryItem,0)" />
                  <label for="name0{{categoryItem.id}}">0<span>units</span></label>
                  <!-- <ion-radio ></ion-radio> -->
                </li>
                <li>
                  <input type="radio" value="25" id="name25{{categoryItem.id}}" name="name{{categoryItem.id}}" (click)="radioButtonSelect(categoryItem,25)" />
                  <label for="name25{{categoryItem.id}}">25 <span>units</span></label>
                  <!-- <ion-radio value="25" name="name{{categoryItem.id}}" (click)="radioButtonSelect(categoryItem,25)"></ion-radio> -->
                </li>
                <li>
                  <input type="radio" value="50" id="name50{{categoryItem.id}}" name="name{{categoryItem.id}}" (click)="radioButtonSelect(categoryItem,50)" />
                  <label for="name50{{categoryItem.id}}">50 <span>units</span></label>
                  <!-- <ion-radio value="50" name="name{{categoryItem.id}}" (click)="radioButtonSelect(categoryItem,50)"></ion-radio> -->
                </li>
              </ul>
              <ion-select cancelText="cancel" okText="ok" #selectCatgory ngModel>
                <ion-select-option *ngFor="let item of liquorCategory" [value]="item.id">{{item.liquorName}}</ion-select-option>
              </ion-select>
            </div>
          </div>
        </ion-item>
    </ion-list>
  </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="footer_content">
    <div class="footer_item_start">
      <img src="assets/cart.png">
      <div class="item_total">
        <p><small>{{addToCart.carts.length}} ITEM IN CART</small></p>
        <p class="price_end">₹ {{cartPrice}}.00</p>
        <p><small>30ml per unit</small></p>
      </div>
    </div>
    <div class="footer_item_end mw_230" (click)="compareNDreview()">
      <p>Compare & Reserve</p>
      <img src="assets/arrow-right.png">
    </div>
  </div>
</ion-footer>





<!-- <ion-content>
  <div class="banner_wraper"><img src="assets/banner-home.png"></div>
  <div class="segment_2">
    <div>
        <ion-segment [(ngModel)]="scotch" class="ion-no-padding" >
          <ion-segment-button value="premium-scotch" (click)="liquorSegmentPremium()">
            <ion-button class="" shape="round">Premium Scotch</ion-button>
          </ion-segment-button>
          <ion-segment-button value="regular-scotch" (click)="liquorSegmentRegular()">
            <ion-button class="" shape="round">Regular Scotch</ion-button>
          </ion-segment-button>
          <ion-segment-button value="scotch-whisky" (click)="liquorSegmentWhisky()">
            <ion-button class="" shape="round">Scotch Whisky</ion-button>
          </ion-segment-button>
        </ion-segment>
    </div>

  <div [ngSwitch]="scotch" >
    <ion-list *ngSwitchCase="'premium-scotch'" class="drink_items" >
      <ion-item *ngFor="let item of all_liquor_categorywise">
        <div >
        <ion-grid>
          <ion-row class="ion-align-items-center" >
          <ion-col size="7">
            <div class="drink_content">
              <h3>{{item.liquorName}}</h3>
              <ul>
                <li>HIGH: <span class="price_hike">₹ {{item.BigLiquorMaxPrice}}<img src="assets/green-arrow.png"></span></li>
                <li>LOW: <span class="price_down">₹ {{item.BigLiquorMinPrice}}<img src="assets/red-arrow.png"></span></li>
                <li>NOW: <span class="price_now">₹ {{item.BigLiquorNormalPrice}}</span></li>
              </ul>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="quantity">
              <span class="plus">+</span>
              <p>1</p>
              <span class="minus">-</span>
            </div>
          </ion-col>
          <ion-col size="1" class="ion-no-padding">
            <img src="assets/copy.png" style="padding-top: 5px;">
          </ion-col>
        </ion-row>
        </ion-grid>
        </div>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'regular-scotch'" class="liquor_items">
      <ion-item *ngFor="let item of all_liquor_categorywise">
          <ion-thumbnail slot="start">
            <img src="{{item.image}}">
          </ion-thumbnail>
            <div class="drink_content">
        <h3>{{item.liquorName}}</h3>
        <div class="unit_category">
          <ul>
            <li class="active" (click)="unit0(0,item.SmallLiquorNormalPrice,item.liquorName)">0 <span>units</span></li>
            <li (click)="unit25(25,item.SmallLiquorNormalPrice,item.liquorName)">25 <span>units</span></li>
            <li (click)="unit50(50,item.SmallLiquorNormalPrice,item.liquorName)">50 <span>units</span></li>
          </ul>
          <ion-select multiple="false" (ionChange)="optionsliquorShopOwner($event,i);" cancelText="cancel" okText="ok">
            <ion-select-option *ngFor="let item of all_liquor_category" [value]="item.id">{{item.liquorName}}
            </ion-select-option>
            </ion-select>
        </div>
      </div>
        </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'scotch-whisky'">
      
    </ion-list>
  </div>
</div>
</ion-content> -->


