<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button icon="arrow-back-outline" defaultHref=""></ion-back-button>
  </ion-buttons>
    <!-- <ion-title>SELECTED LOCATION</ion-title> -->
    <ion-label>SELECTED LOCATION</ion-label>
    <ion-item>
    <ion-select value="kolkata">
      <ion-select-option selected value="kolkata">kolkata</ion-select-option>
      <ion-select-option value="mumbai">mumbai</ion-select-option>
      <ion-select-option value="bangalore">bangalore</ion-select-option>
      <ion-select-option value="delhi">delhi</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-icon slot="end" class="search_item" name="search-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="title_bar">
  <h2 class="title">Orders</h2>
</div>
<div class="order_list" *ngFor="let order of orderDetails">
  <ion-item>
    <ion-thumbnail slot="start">
        <img src="assets/Clip_Group.png">
    </ion-thumbnail>
    <ion-label>
          <h3>{{order.liquorName}}</h3>
            <p>Order ID: <span class="bold_count">{{order.id}}</span></p>
            <p>Category: <span class="bold_count">{{order.liquorCategory}}</span></p>
            <p>Price: <span class="bold_count">₹ {{order.price}}</span> <span class="date">DATE: {{order.orderedDate}}</span></p>
            <div class="btn_grp">
              <ion-button fill="outline" (click)="redeem(order)">REDEEM</ion-button>
              <ion-button fill="outline" (click)="viewBalance(order)">VIEW BALANCE</ion-button>
            </div>
    </ion-label>
  </ion-item>
  <div class="view_balance" id="divCount{{order.id}}"></div>
</div>
</ion-content>