<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button icon="arrow-back-outline" defaultHref=""></ion-back-button>
  </ion-buttons>
    <!-- <ion-title>SELECTED LOCATION</ion-title> -->
    <ion-label>SELECTED LOCATION</ion-label>
    <ion-item>
    <ion-select value="kolkata">
      <ion-select-option selected value="kolkata">kolkata</ion-select-option>
      <ion-select-option value="mumbai">mumbai</ion-select-option>
      <ion-select-option value="bangalore">bangalore</ion-select-option>
      <ion-select-option value="delhi">delhi</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-icon slot="end" class="search_item" name="search-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="title_bar">
  <h2 class="title">Orders</h2>
</div>
<div class="order_list">
  <ion-item>
    <ion-thumbnail slot="start">
        <img src="assets/Clip_Group.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Black Dog Centenary</h3>
            <p>Order ID: <span class="bold_count">V1718B1517222832774</span></p>
            <p>Category: <span class="bold_count">Trend Setters</span></p>
            <p>Price: <span class="bold_count">₹ 4000</span> <span class="date">DATE: 29/01/2018</span></p>
            <div class="btn_grp">
              <ion-button fill="outline">REDEEM</ion-button>
              <ion-button fill="outline">VIEW BALANCE</ion-button>
            </div>
    </ion-label>
  </ion-item>
  <div class="view_balance">
    <ion-grid>
      <ion-row class="ion-no-padding">
        <ion-col size="4">
          <div class="unit">
            <p>Total Units <span>25</span></p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="unit">
            <p>Units Redeemed <span>5</span></p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="unit">
            <p>Remaining Units <span>20</span></p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <p class="content ion-text-left">OUTLET</p>
        </ion-col>
        <ion-col size="4">
          <p class="content ion-text-center">DATE</p>
        </ion-col>
        <ion-col size="4">
          <p class="content ion-text-right">UNITS</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <p class="content black ion-text-left">Orko’ss Restaurant</p>
        </ion-col>
        <ion-col size="4">
          <p class="content black ion-text-center">29/01/2018</p>
        </ion-col>
        <ion-col size="4">
          <p class="content black ion-text-right">3</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <p class="content black ion-text-left">Orko’ss Restaurant</p>
        </ion-col>
        <ion-col size="4">
          <p class="content black ion-text-center">29/01/2018</p>
        </ion-col>
        <ion-col size="4">
          <p class="content black ion-text-right">3</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item>
    <ion-thumbnail slot="start">
        <img src="assets/Clip_Group.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Black Dog Centenary</h3>
            <p>Order ID: <span class="bold_count">V1718B1517222832774</span></p>
            <p>Category: <span class="bold_count">Trend Setters</span></p>
            <p>Price: <span class="bold_count">₹ 4000</span> <span class="date">DATE: 29/01/2018</span></p>
            <div class="btn_grp">
              <ion-button fill="outline">REDEEM</ion-button>
              <ion-button fill="outline">VIEW BALANCE</ion-button>
            </div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
        <img src="assets/Clip_Group.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Black Dog Centenary</h3>
            <p>Order ID: <span class="bold_count">V1718B1517222832774</span></p>
            <p>Category: <span class="bold_count">Trend Setters</span></p>
            <p>Price: <span class="bold_count">₹ 4000</span> <span class="date">DATE: 29/01/2018</span></p>
            <div class="btn_grp">
              <ion-button fill="outline">REDEEM</ion-button>
              <ion-button fill="outline">VIEW BALANCE</ion-button>
            </div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
        <img src="assets/Clip_Group.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Black Dog Centenary</h3>
            <p>Order ID: <span class="bold_count">V1718B1517222832774</span></p>
            <p>Category: <span class="bold_count">Trend Setters</span></p>
            <p>Price: <span class="bold_count">₹ 4000</span> <span class="date">DATE: 29/01/2018</span></p>
            <div class="btn_grp">
              <ion-button fill="outline">REDEEM</ion-button>
              <ion-button fill="outline">VIEW BALANCE</ion-button>
            </div>
    </ion-label>
  </ion-item>
</div>
</ion-content>