ion-content {
	--background: #eceff1;

	.resturant_img_wrap {
	    margin-bottom: 0;
        background-color: #fff;
	}

	.br-1 {
		margin: 11px 0 15px;
	}
}
ion-footer {
	.footer_item_end {
	    background-color: #dcc88d;
        justify-content: center;
        padding-right: 0;

        p {
            font-family: "Nexa Black" !important;
            text-transform: uppercase;
        }
	}
}